@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* global style start*/
p{
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}
/* global style end*/

.container{
    width: 1100px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}

.logo img{
    width: 100%;
}

.nav-container{
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-container ul{
    display: flex;
    gap: 32px;
}

.nav-container ul li{
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon-container{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 18px 24px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}

.icon-container span{
    padding-right: 8px;
}