@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* global style start*/
p{
    color: #534C64;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.btn{
    padding: 20px 40px;
    border-radius: 48px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
}

.none{
    display: none;
}

/* global style end*/
header{
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.container{
    width: 1100px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    
}

.logo img{
    width: 100%;
}

.nav-container{
    display: flex;
    gap: 32px;
    align-items: center;
}

.nav-container ul{
    display: flex;
    gap: 32px;
}

.nav-container ul li{
    list-style: none;
    color: #3C354F;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.icon-container{
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 18px 24px;
    border-radius: 8px;
    background-color: rgba(11, 2, 35, 0.10);
}

.icon-container span{
    padding-right: 8px;
}

.fa-youtube{
    color: #F61C0D;
}

.hero{
    background-image: url(images/Group\ 66.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-info h1{
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.hero-info h1 span{
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero-list{
    padding-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-btn{
    margin-top: 60px;
    display: flex;
    gap: 24px;
}

.hero-btn1{
    background-color: #FF42A5;
}

.hero-btn2{
    background-color: #4EC5F7;
}

.hero-images{
    width: 55%;
}

.hero-images img{
    width: 100%;
}

.online-games{
    padding: 120px 0px;
}

.online-games-container{
    display: block;
    text-align: center;
}

.online-games-info h2{
    padding-bottom: 16px;
    color: #0B0223;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-games-info h2 span{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-games-card{
    display: flex;
    justify-content: space-evenly;
    padding-top: 48px;

}

.card{
    width: 22%;
    position: relative;
}

.card img{
    width: 100%;
}

.card:hover .hover-icon{
    opacity: 1;
}

/* .card img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 90;
} */

.hover-icon{
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    transition: .5s ease;
}

.card p{
    text-align: left;
}

.play-games-container{
    display: flex;
    align-items: center;
    gap: 60px;
}

.play-games-images{
    width: 60%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.play-games-images1{
    width: 85%;
}

.play-games-images2{
    width: 30%;
    position: absolute;
    right: 0;
    bottom: -80px;
}

.play-games-info{
    width: 40%;
}

.play-games{
    padding-bottom: 200px;
}

.button-hover{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    padding: 120px 0px;
}

.button-hover-container{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.button-hover-box{
    width: 17%;
    background-color: #FFF;
    border: 1px solid #fff;
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.button-hover-box:hover{
    border: 1px solid #FF42A5;
}

.button-hover-box:hover span{
    color: #FF42A5;
}

footer{
    padding: 120px 0px;
    background-color: #0B0223;
    display: block;
    text-align: center;
}

.footer-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 56px;
}

.footer-container nav li{
    list-style: none;
}

.footer-nav1 ul, .footer-nav2 ul{
    display: flex;
    justify-content: center;
    gap: 60px;
}

.footer-nav1 li{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer-nav2 li{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.footer-icon{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.footer-icon .fa-brands{
    color: #fff;
}

.copyright{
    padding-top: 18px;
}

.copyright span{
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* mobile responsive code start here */
@media only screen and (max-width: 425px) {
    header{
        box-shadow: none;
    }
    .container{
        width: 100%;
    }
    .header-container{
        padding: 40px 0px;
        flex-direction: column;
        height: auto;
    }
    .nav-container{
        flex-direction: column;
    }
    .nav-container ul{
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    .hero-container{
        flex-direction: column-reverse;
    }
    .hero-images{
        width: 100%;
    }
    .hero{
        background-image: none;
    }
    .hero-info{
        background-image: url(images/Group\ 66.png);
        background-repeat: no-repeat;
        padding: 120px 0px;
        background-size: cover;
    }
    .online-games-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    
    }
    .card{
        width: 80%;
        padding-bottom: 30px;
    }
    .card p{
        text-align: center;
    }
    .play-games-container{
        flex-direction: column-reverse;
    }
    .play-games-images{
        width: 80%;
    }
    .play-games-info{
        width: 80%;
    }
    .online-games-info{
        display: block;
        text-align: center;
    }
    .button-hover-container{
        gap: 5px;
    }
    .button-hover-box{
        width: 25%;
        gap: 5px;
    }
    .button-hover-box img{
        width: 30%;
    }
    .button-hover-box span{
        font-size: 14px;
    }
    .footer-nav1 ul, .footer-nav2 ul{
        flex-wrap: wrap;
    }
}
/* mobile responsive code end here */

/* tablet responsive code start here */
@media only screen and (max-width: 768px) and (min-width: 426px)  {
    .container{
        width: 100%;
    }
}


/* tablet responsive code end here */